@import url();
body {
    background-image: url(img/chad.jpg);
    background-size: contain;
    backdrop-filter: blur(7px);
}

.contain-titulo {
    margin-right: 550px;
    height: 100px;
    width: 400px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 0;
    margin-left: auto;
}

#introduccion {
    font-size: larger;
}

a {
    color: #faf7f7;
    text-decoration: none;
}

.indice {
    width: 150px;
    height: 100%;
    background-image: url(img/Minecraft\ spruce\ wood\ wallpaper.jfif);
    color: whitesmoke;
    padding: 20px;
    border: 2px solid black;
    font-size: x-large;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
}

.introduccion {
    margin-left: 300px;
    margin-top: 20px;
    background-image: url(img/Cesped.jfif);
    color: #fffdfd;
    padding: 20px;
    border-radius: 5px;
    font-size: x-large;
}

#intro {
    margin-left: 20%;
    margin-top: 10px;
    border-radius: 5px;
}

.jugabilidad {
    margin-left: 300px;
    margin-top: 20px;
    background-image: url(img/Cesped.jfif);
    color: #fffdfd;
    padding: 20px;
    border-radius: 5px;
    font-size: x-large;
}

section {
    margin-top: 3%;
    margin-left: 620px;
    display: flex;
    width: 600px;
    height: 430px;
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s ease;
}

section img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

@keyframes abajo {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

.formulario {
    background-image: url(img/piedratextura.jpg);
    margin-left: 5%;
    height: 350px;
    width: 250px;
    border-radius: 10px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    animation: abajo 2s infinite;
}

@keyframes arriba {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.formulario {
    background-image: url(img/piedratextura.jpg);
    height: 350px;
    width: 250px;
    margin-left: 15%;
    margin-top: 5%;
    border-radius: 10px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    animation: arriba 2s infinite;
}

.formulario input[type="text"],
.formulario input[type="password"] {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 10px;
    outline: none;
}

#reg {
    margin-left: 30px;
    margin-top: 25px;
}

#inic {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#env {
    margin-top: 25px;
    margin-left: 15%;
    border-radius: 5px;
    height: 40px;
    width: 100px;
}

#env:hover {
    background-color: white;
    transform: scale(1.05);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.comentar {
    margin-top: 5%;
    margin-left: 12.7%;
    background-image: url(img/netherbrick.png);
    border-radius: 5px;
    height: 220px;
    width: 35%;
}

#Comentario {
    margin-left: 20px;
    margin-top: 10px;
    background-color: antiquewhite;
    border-radius: 5px;
    border: 2px black;
}

#comentar {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    margin-left: 10px;
    margin-top: 10px;
}